h1 {
  color: Orange;
  text-align: center;
  font-family: Georgia, serif;
  font-weight: normal;
}

p {
  color: blue;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

p2 {
  color: maroon;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}